<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Helper"
        tools:targetApi="31">
        <activity
            android:name=".CalenderPage"
            android:exported="false" />
        <activity
            android:name=".IndividualSong"
            android:exported="false" />
        <activity
            android:name=".MusicPage"
            android:exported="false" />
        <activity
            android:name=".SOS"
            android:exported="false" />
        <activity
            android:name=".IndividualWorker"
            android:exported="false" />
        <activity
            android:name=".GetWorker"
            android:exported="false" />
        <activity
            android:name=".WorkerPage"
            android:exported="false" />
        <activity
            android:name=".IndividualContact"
            android:exported="false" />
        <activity
            android:name=".ContactPage"
            android:exported="false" />
        <activity
            android:name=".MainContact"
            android:exported="false" />
        <activity
            android:name=".ChooseLang"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".AlarmReceiver"
            android:exported="true"
            android:enabled="true">

        </receiver>
    </application>

</manifest>